**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
example/papers/*/out
example/papers/*/*.aux
example/papers/*/*.bib
example/papers/*/*.hpp
example/papers/*/*.log
example/papers/*/*.out
example/papers/*/*.pdf
example/papers/*/*.spl
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
